@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head">
    <h1>@Resources.labels.HowItWorks | <a href="@Url.Action("Certifications", "Articles")" class="white underlined">@Resources.labels.Certification</a>
    </h1>
</div>
<iframe width="780" height="600" src="http://www.youtube.com/embed/pEEf8iMWg0E?rel=0"
    frameborder="0" allowfullscreen></iframe>
@Html.Raw(string.Format(Resources.labels.HowItWorksText, Html.ActionLink("страховий поліс", "Certifications", "Articles", new { @class = "blue" })))
