@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Полезные статьи</h2>

<ul>
    <li>
        @Html.ActionLink("Что делать, если нет экономии / как добится максимальной экономии", "FuelEconomy", "Articles")
    </li>
</ul>
