@{
    ViewBag.Title = "TestDrive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head">
    <h1>
        @Resources.labels.TestDriveHeader
    </h1>
</div>
<p class="blue">
    @Resources.labels.TestDriveHint
</p>
<br />
<iframe width="780" height="500" src="http://www.youtube.com/embed/fetSrvp2F2M?rel=0"
    frameborder="0" allowfullscreen></iframe>
