@{
    ViewBag.Title = "Instruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head">
    <h1>
        С чего начать
    </h1>
</div>
<br />
<ol id="instruction">
    <li>
        <h3>
            1. Определение реального расхода топлива</h3>
        <p>
            Выберите АЗС на выезде из вашего города (желательно АЗС, на котором вы чаще всего
            заправляетесь). Заправьте топливо до горловины бака, чтобы его было видно в горловине
            (не до отстрела заправочного пистолета, а до горловины бака, это важно). Сбросьте
            счетчик суточного пробега авто на 0 и начинайте движение с "крейсерской скоростью"
            80-90 км./час, 50 км в одну сторону и 50км назад, на ту же заправку, к тому же заправочному
            пистолету. Долейте топливо до полного бака, чтобы топливо было видно в горловине
            бака. Вы получите реальную картину расхода топлива на 100км. Сохраните чек, который
            вам выдадут на АЗС.
        </p>
    </li>
    <li>
        <h3>
            2. Чистка топливной системы автомобиля с помощью промывки MPG MAX-PRO</h3>
        <p>
            Вылейте содержимое бутылки MPG MAX-PRO в горловину бензобака. Одна бутылка расчитана
            на 60-80 л. топлива, т.е. на полный бак. Выкатайте бак до сигнала контрольной лампочки.
            После этого вам необходимо заменить топливный фильтр. Рекомендуем также заменить
            все фильтры вашего авто, особенно если вы давно этого не делали. Проверьте свечи
            зажигания, если они подлежат замене, замените их. Ваш автомобиль "условно" технически
            исправный, можете начинать пользоваться продуктом для экономии топлива MPG BOOST.
        </p>
    </li>
    <li>
        <h3>
            3. Применение MPG BOOST</h3>
        <p>
            MPG BOOST - жидкий катализатор горения топлива, используется в автомобилях внутреннего
            сгорания на бензине, диз.топлеве или газу (кроме метана). Начинать использовать
            катализатор рекомендуется в следующих дозировках: - бензин- 1мл.3 на 10л. бензина
            или газа, 1,3мл.3 на 10 л. диз.топлива на первый бак. К примеру, у вас бак 40л.
            вы добавляте 4мл.3 MPG BOOST (бензин или газ), 5,2 мл.3 для дизеля. На второй бак
            дозировка MPG BOOST уменьшается до 0,9 мл.3 на 10л. бензина или газа, 1,1мл.3 на
            10 л. диз.топлива. На третий бак дозировка 0.85 мл.3 на 10 л. бензина или газа и
            1мл.3 на 10 л. диз.топлива. Дальнейшие дозировки рекомендуется подбирать каждому
            индивидуально, понижая дозировку продукта с шагом 0,05 мл. на 10 л., так как каждый
            автомобиль индивидуален и состояние мотора и топливной системы у всех различное.
            Максимальный эффект экономии достигается после использования 2-5 баков горючего
            с продуктом MPG. Компания FFI предлагает продукцию для экономии топлива в виде жидкого
            катализатора горения топлива MPG BOOST , таблетированного MPG-Caps и в виде порошка
            MPG-MEGA- CRUMBS используемого в основном на технике с большими топливными баками.
            После второго-третьего бака с использованием продукта, вернитесь на ту же АЗС, на
            которой вы проверяли свой расход топлива, и проделайте тот же тест, что и вначале,
            а именно: заправьте топливо до горловины бака, чтобы его было видно в горловине
            (не до отстрела заправочного пистолета, а до горловины бака, это важно). Сбросьте
            счетчик суточного пробега авто на 0 и начинайте движение с "крейсерской скоростью"
            80-90 км./час, 50 км. в одну сторону и 50 назад, на ту же заправку, к тому же заправочному
            пистолету. Долейте топливо до полного бака, чтобы топливо было видно в горловине
            бака. Вы получите реальную картину расхода топлива на 100км. Сравните чек, который
            вам выдали первый раз с тем что вам дали теперь. Вы получите полную уверенность,
            что продукция Компании FFI на 100% работает, как и заявлено Компанией. Эта инструкция
            носит исключительно рекомендательный характер, но при выполнении этих рекомендаций,
            вы на 100% получите желаемый результат, в виде экономии топлива 10, 20, 30 и более%
            и удовольствие от езды на своем "обновленном" автомобиле. Желаем вам успехов и достижения
            поставленных целей.
        </p>
    </li>
</ol>
<br />
<br />
<div class="row-fluid">
    <div class="span6">
        <p>
            Любую консультацию по использованию продукции Компании FFI, вы можете получить в
            удобном для вас формате, смотрите раздел
        </p>
        <br />
        <a class="btn btn-primary" href="@Url.Action("Contacts")">Контакты</a>
    </div>
    <div class="span1"></div>
    <div class="span5">
        <p class="pull-right text-pullright">
            Приобрести продукцию вы также можете на нашем сайте, смотрите раздел
            <br />
            <br />
            <a class="btn btn-primary pull-right" href="@Url.Action("Contacts")">Продукция</a>
        </p>
    </div>
</div>
