@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Maintance</title>
</head>
<body>
    <div>
        <h1>Сайт находится на техническом обслуживании, примерное время возобновления работы - 23.05.2013 10:00</h1>
    </div>
</body>
</html>
