@{
    ViewBag.Title = "TestDrive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head">
    <h1>
          Тест Драйв
    </h1>
</div>
<p>
    Тест Драйв - это ознакомительное видео, из которого вы сможете почерпнуть информацию о продуктах компании FFI.
</p>
<br />
<iframe width="780" height="500" src="http://www.youtube.com/embed/ufYasgAAsIE?rel=0"
    frameborder="0" allowfullscreen></iframe>
