<!DOCTYPE html>

<html>
<head>
    <title>Admin panel</title>

    <link href="@Url.Content("~/Content/redactor.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/redactor.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".redactor").redactor();
        });
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
