@{
    ViewBag.Title = @Resources.labels.PaymentStatus;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head">
    <h1>
        @Resources.labels.PaymentStatus</h1>
</div>
@Resources.labels.PaymentSuccess
