@model Internet.Models.Result
<div class="row-fluid">
    <div class="span7">
        @Html.Raw(Model.VideoTag)
    </div>
    <div class="span5 result-details">
        @Html.Raw(Model.Description)
    </div>
</div>
